data/
/build/
.vscode/
.venv*/
app/fonts/fontawesome/
models/**/*.onnx.data
models/**/*.onnx
models/**/*.trt
models/**/*.so
models/**/*.chunks.bak/
scripts/_grpc_stubs/
**/__pycache__/
app/fonts/mplus/